@import url("./normalize.css");

/* fonts start*/
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v48-latin-100.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v48-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v48-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v48-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/forum-v18-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fonts end */

/* basis style start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p,
a {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Forum", sans-serif;
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-gold-active: #7E6C51;
  --white: #ffffff;
  --black: #000000;
  --gold-rec: #d2b183;
  --gold-text: #caaa7d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 240px;
}

/* basis style end */

/* header start */
.header {
  background-color: var(--bg-dark);
}

.header-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  /* display: inline-block;
  max-width:199px ; */
  color: var(--white);
  font-family: var(--second-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header__logo img {
  width: 49px;
  height: 26px;
  margin-right: 12px;
}

.header__nav {
  width: fit-content;
}

.nav__list {
  display: flex;
  gap: 55px;
}

.nav__item {}

.nav__link {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 2px;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--font-gold);
}

.nav__link:active {
  color: var(--font-gold-active);
}


/* header end*/


/* welcome start */
.welcome {
  background-color: var(--bg-dark);
}

.welcome-wrapper {
  /* height: 810px; */
  position: relative;
}

.welcome__content {
  width: 100%;
  height: 810px;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.welcome__content-left {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.welcome__title {
  color: var(--white);
  font-family: var(--second-family);
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  /* 112.5% */
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 25px;
}

.welcome__text {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 75px;
}

.welcome__btn {
  display: block;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  background: var(--dark-red);
  color: var(--white);
  font-family: var(--font-family);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 75px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.welcome__btn:hover,
.welcome__btn:active {
  background-color: var(--font-gold);
  color: var(--white);
}

.welcome__content-right {
  width: 42%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: end;
}

.welcome__slider-control {
  width: 100%;
  height: 120px;
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 70px;
  gap: 35px;
}

.slider-num {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 181.818% */
  text-transform: uppercase;
  display: flex;
  gap: 10px;
}

.slider__rests {
  display: flex;
  gap: 25px;
}

.slider__rest {
  width: 16px;
  height: 16px;
  background-color: var(--white);
  transition: 0.3s;
}

.slider__rest:first-of-type {
  background-color: var(--gold-rec);
}

.slider__rest:hover {
  background-color: var(--font-gold);
  cursor: pointer;
}

.slider__btns {
  display: flex;
}

.slider__btn {
  width: 30px;
  transition: 0.3s;
}

.slider__btn svg {
  overflow: hidden;
}

.slider__btn path {
  fill: white;
  transition: fill 0.3s ease;
}

.slider__btn:hover path {
  fill: var(--font-gold);
}

.slider__btn:hover {
  cursor: pointer;
}

.btn-prev {}

.btn-next {}

.welcome__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 95%;
  z-index: 3;
  display: flex;
  justify-content: end;
}

.slider__list {
  width: 70%;
  height: 100%;
}

.slider__item {
  width: 100%;
  height: 750px;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%),
    url('../img/welcome-slider/1.jpg')center/cover no-repeat;

}

/* welcome end*/

/* Visiting start */
.visiting {
  padding: 75px 0;
}

.visiting-wrapper {}

.visiting__title {
  color: var(--font-gold);
  font-family: var(--second-family);
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  /* 112.5% */
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.visiting__hr {
  width: 100%;
  height: 3px;
  border: none;
  background-color: var(--dark-red);
  margin-bottom: 75px;
}

.visiting__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px 60px;
}

.visiting__card img {
  margin-bottom: 20px;
}

.card__title {
  color: var(--black);
  font-family: var(--second-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.visiting__card hr {
  width: 68%;
  height: 3px;
  border: none;
  background-color: var(--dark-red);
  margin-bottom: 10px;
  transition: 0.5s;
}

.card__text {
  color: var(--black);
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 9px;
}

.card__sub-text {
  color: var(--black);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.visiting__card:hover hr {
  width: 100%;
}

/* Visiting end */


/* explore  start */
.explore {
  background-color: var(--bg-dark);
}

.explore-wrapper {
  display: flex;
  padding: 75px 0;

}

.explore__left {
  width: 50%;
  padding-right: 60px;

}

.explore__title {
  color: var(--white);
  font-family: var(--second-family);
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  /* 112.5% */
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.explore__hr {
  width: 100%;
  height: 3px;
  border: none;
  background-color: var(--dark-red);
  margin-bottom: 75px;
}

.explore__text {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.5px;
  /* 175% */
  margin-bottom: 25px;
}

.explore__text span {
  color: var(--gold-text);
}

.explore__right {
  width: 50%;
  padding: 15px 0;
}

.explore___container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.explore__img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.after-img,
.before-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;
  pointer-events: none;
}

.before-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  width: 62%;
}

.before-mask .before-img {
  position: absolute;
  top: 0;
  left: 0;
}

.exsplore__slider {
  position: absolute;
  top: 0;
  left: 62%;
  height: 100%;
  cursor: ew-resize;
  z-index: 10;
  transform: translateX(-50%);
}

.exsplore__slider svg path {
  height: 100%;
}

/* explore  end*/

/* video start */
.video {}

.video-wrapper {
  padding: 75px 0;
}

.video__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.video__title {
  width: fit-content;
  color: var(--font-gold);
  font-family: var(--second-family);
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  /* 112.5% */
  letter-spacing: 5px;
  text-transform: uppercase;
}

.video__text {
  max-width: 720px;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.5px;
  /* 175% */
}

.video__container {
  position: relative;
  margin-bottom: 40px;
}

.video__play-btn {
  position: absolute;
  left: 50%;
  top: 44%;
  background: none;
  border: none;
  outline: none;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.video__play-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.video__main {
  width: 100%;
  height: 735px;
  object-fit: cover;
}

.video__control {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  background: var(--black);
  padding: 25px 30px;
}

.video__control button {
  background: none;
  border: none;
  outline: none;
  transition: 0.3s;
}

.video__control button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.video__control-play-btn {}

.video__equalizer-container {
  position: relative;
  width: 929px;
  height: 8px;
  background: #C4C4C4;
}

.equalizer {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #710707;
}

.equalizer-circle {
  position: absolute;
  left: 49%;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: var(--white);

}

.equalizer-circle:hover {
  opacity: 0.9;
  cursor: pointer;
}

.video__sound-btn {}

.video__sound-container {
  position: relative;
  width: 155px;
  height: 15px;
  background: #C4C4C4;
}

.video__screen-btn {}

.video__slider-container {
  position: relative;
}


.video__slider-play-btn{
  position: absolute;
  left: 50%;
  top: 50%;
  background: none;
  border: none;
  outline: none;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.video__slider-play-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.video__slider {
  width: 100%;
  display: flex;
  gap: 42px;
  overflow: hidden;
  margin-bottom: 35px;
}
.video__slider-pagination {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video__slider-pagination button{
  width: 12px;
  height: 12px;
  background:none;
  border: none;
  outline: none;
}
.video__slider-btn-prev {
}
.video__sleder-list {
  width: 140px;
  display: flex;
  justify-content: space-between;
}
.video__slider-item {
  width: 12px;
  height: 12px;
  border-radius: 12px;
 background: #999;
}
.video__slider-item:first-of-type{
  background-color: var(--black);
}
.video__slider-btn-next {
}
/* video end */


/* gallery start */
.gallery {
  position: relative;
  background: var(--bg-dark);
  height: 2200px;
  overflow: hidden;
}
.gallery::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}
.gallery-wrapper {
  padding: 75px 0;
}
.gallery__title {
  color: var(--white);
font-family: var(--second-family);
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 90px; /* 112.5% */
letter-spacing: 5px;
text-transform: uppercase;
margin-bottom: 75px;
}
.gallery__container {
  display: grid;
  gap: 24px 36px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  align-items: start;
}
.gallery__container > * {
  align-self: start;
}
.gallery__img {
    width: 100%;
  height: auto;

}
.gallery__img:hover {
  transform: translateZ(20px);
}
.galery__img-left,
.galery__img-right{
  transform: translateY(50px);
}
.gallery__img:nth-of-type(5),
.gallery__img:nth-of-type(8),
.gallery__img:nth-of-type(11){
  transform: translateY(-110px);
}
.gallery__img:nth-of-type(12){
  transform: translateY(-180px);
}
.gallery__img:nth-of-type(9),
.gallery__img:nth-of-type(10){
  transform: translateY(-70px);
}
/* gallery end */


/* Tickets start */

/* Tickets end */
